name: Haskell CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-haskell:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghc: ["9.4", "9.6"]

    name: Haskell GHC ${{ matrix.ghc }} build
    steps:
      - uses: actions/checkout@v3
      - uses: haskell/actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
          enable-stack: true
          stack-version: "latest"

      - name: Cache
        uses: actions/cache@v3
        env:
          cache-name: cache-stack
        with:
          path: ~/.stack
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('stack-${{ matrix.ghc }}.yaml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install dependencies
        run: |
          stack --stack-yaml stack-${{ matrix.ghc }}.yaml setup
          stack --stack-yaml stack-${{ matrix.ghc }}.yaml build --only-dependencies --test --bench --no-run-tests --no-run-benchmarks
      - name: Build
        run: stack --stack-yaml stack-${{ matrix.ghc }}.yaml build --test --bench --no-run-tests --no-run-benchmarks
      - name: Run tests
        run: stack --stack-yaml stack-${{ matrix.ghc }}.yaml test
